body{
    background-color: black;
    color: white;
    font-size: 20px;
}
button{
    background-color: aqua;
    height: 70px;
    width: 70px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 37px;
}
.o-btn{
    background-color: rgb(250, 153, 8);
    height: 70px;
    width: 70px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 37px;
}
.total{
    background-color: black;
    color: white;
    font-size: 38px;
    padding-top: 15px;
    padding-bottom: 0px;
    align-content: right;
    height: 50px;
    width: 295px;
    border: 1px solid white;
}
p{
    margin-left: 200px;
}
